@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Playfair+Display&family=Squada+One&display=swap");

:root {
  background: url("../img/logo-millionaire.jpeg");
  /* background-repeat: no-repeat; */
  background-size: 110%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: whitesmoke;
  font-family: "Squada One", cursive;
}

.game-header {
  display: grid;
  grid-template-columns: 1fr, 2fr, 1fr;
  grid-template-rows: auto;
  grid-template-areas: "a b c";
  /* border: 20px solid #f76707; */
  border-radius: 5px;
  background-color: #fff4e6;
}

.game-header > div {
  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8;
  padding: 20px;
  color: #d9480f;
}
/* .game-header {
  display: grid;
  grid-template-columns: 1fr, 2fr, 1fr;
  grid-template-rows: 1fr;

  grid-template-areas: "a b c";
} */
.item1 {
  grid-area: a;
  justify-self: start;
  /* border: 10px; */
}
.item2 {
  grid-area: b;
  justify-self: stretch;
}
.item3 {
  grid-area: c;
  justify-self: end;
}

.question-container {
  display: flex;
  margin-top: 0.8rem;
  width: 100px;
  border-radius: 4px;
  background: rgb(18, 93, 225);
  min-width: 80rem;
  font-size: 3rem;
  /* margin-bottom: 5rem; */
}

.parent-choice-container {
  display: grid;
  grid-template-columns: auto auto;
  /* background-color: #2196f3; */
  padding: 10px;
  grid-gap: 10px;
}

.choice-container {
  background: rgb(18, 93, 225);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-radius: 4px;
}
/* .score-item {
  background: rgb(208, 225, 18);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  border-radius: 1px;
  opacity: 0.5;
} */

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgb(6, 103, 247 0.5);
  transform: scale (1.02);
  transform: trasform 100ms;
}

.wrapper {
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  /* padding: 2rem; */
}

@media screen and (min-max: 768px) {
}
